<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>DDoS Guard Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">
</head>

<body>
    <div class="sidebar">
        <h2>DDoS Guard</h2>
        <a href="#" class="active">Dashboard</a>
        <a href="#">Analytics</a>
        <a href="#">Settings</a>
        <a href="#">Logout</a>
    </div>

    <div class="main">
        <div class="header">
            <div class="dashboard-title">DDoS Monitoring</div>
            <button class="logout-btn">Logout</button>
        </div>

        <div class="cards">
            <div class="card">
                <h4>Total IPs</h4>
                <p id="totalIPs">--</p>
            </div>
            <div class="card">
                <h4>Blocked</h4>
                <p id="blockedIPs">--</p>
            </div>
            <div class="card">
                <h4>Suspicious</h4>
                <p id="suspiciousIPs">--</p>
            </div>
        </div>

        <table>
            <thead>
                <tr>
                    <th>IP Address</th>
                    <th>Packet Count</th>
                    <th>Last Seen</th>
                    <th>Status</th>
                    <th>Suspicion Score</th>
                    <th>Time Blocked</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="table-body">

            </tbody>
        </table>
    </div>

    <script src="{{ url_for('static', filename='dashboard.js') }}"></script>



</body>

</html>