<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Register - DDoS Protection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <form method="post">
        <h2>Register</h2>
        <input type="text" name="username" placeholder="Choose Username" required>
        <input type="password" name="password" placeholder="Choose Password" required>
        <input type="submit" value="Register">
        <a href="/">Already have an account? Login</a>
    </form>
</body>

</html>